body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video behind other elements */
}



.error {
    color: red;
}
.container {
    max-width: 400px;
    margin: 50px auto 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    
}

form {
    text-align: center;
}

.form input {
    width: 100%;
    padding: 14px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid black ;
    border-radius: 25px;
    font-size: 18px;
    background-color: transparent;

    outline: none;
}

.form input::placeholder {
    color:black;
}

.form button {
    width: 100%;
    background-color:green;
    color: #ffffff;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: darkgreen;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .form input {
        font-size: 14px;
    }

    .form button {
        margin-top: 10px;
    }
}